* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-match: #9ec9ec;
  --secondary-match: #204060;
}

body {
  position: relative;
  min-height: 100vh;
}

header {
  height: 100px;
  background-image: url("./assets/images/sydney.jpg");
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
}

body {
  background-color: #edf2f8;
}

header h1 {
  margin: 10px 0 10px 0;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  background-color: var(--primary-match);
  padding: 10px 45px;
}

header h1 a {
  text-decoration: none;
  color: black;
}

header h1 a:hover {
  color: #262626;
}

.nav {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 3px;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav ul li a {
  color: var(--primary-match);
  padding: 30px;
  text-decoration: underline 3px;
  text-underline-offset: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.nav ul li a:hover {
  color: aqua;
}

.title-image {
  background-image: url("./assets/images/sydney.jpg");
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  height: 200px;
  width: 100%;
}

.subtitle {
  text-align: right;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--primary-match);
  padding: 10px;
  opacity: 0.9;
}

.subtitle:hover {
  opacity: 1;
}

input {
  margin: 24px;
}

section {
  margin-bottom: 30px;
}

.section-titles {
  width: 220px;
}

.section-titles h3{
  color: var(--secondary-match);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  border-right: solid 3px var(--secondary-match);
  text-align: right;
  padding-right: 10px;
}

.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.info {
  background-color: #dcdcdc;
  padding: 15px;
  width: 800px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}

.info p {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 10px;
}

footer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #292929;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-decoration: underline;
}

@media screen and (max-width:980px) {
  header {
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
  }

  section {
      margin-bottom: 20px;
  }

  .section-titles {
      margin-bottom: 20px;
  }

  .nav ul {
      background-color: #262626;
      background-size: cover;
      width: 100%;
      justify-content: center;
      padding: 20px;
  }

  .nav ul li a {
      font-size: 20px;
  }

  .title-image {
      width: 100%;
  }

  .subtitle {
      justify-content: center;
      font-size: 20px;
      margin-top: 150px;
  }

  .project-sites img {
      max-width: 100%;
      max-height: 100%;
  }
}